<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <div class="content">
    <!-- Sección izquierda -->
    <div class="left-side">
      <h1 class="title">¡Bienvenido, {{ title }}!</h1>
      <p class="subtitle">¡Examen de Spring Boot! </p>
    </div>

    <!-- Divider (línea separadora) -->
    <div class="divider" role="separator" aria-label="Divider"></div>

    <!-- Sección derecha (botones) -->
    <div class="right-side">
      <button 
        mat-raised-button 
        color="primary" 
        class="action-button"
        
        (click)="listar()">Listar Monedas</button>
      <button 
        mat-raised-button 
        color="accent" 
        class="action-button"
        (click)="guardar()">Guardar Moneda</button>
    </div>
  </div>
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
